.facilitiesBanner{
    width: 100%;
    height: 200px;
    background-image: url(Images/faq_banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.facilitiesBanner-container{
    margin: 90px auto 0px auto;
    position: relative;
    padding-top: 55px;
    z-index: 2;
}
.section-heading.fac{
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 50px;
    font-family: 'Libre Baskerville';
    color: #fff;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 1;
}
.breadcrumb {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px;
    position: relative;
    z-index: 2;
}
.breadcrumb-items.active {
    transition: all 0.2s ease-in-out;
}
.breadcrumb li {
    padding-right: 10px;
    color: #fff;
}
.breadcrumb-items.active:hover {
    color: #fff;
    text-decoration: underline;
}
.breadcrumb-items {
    font-family: 'Libre Franklin';
    text-decoration: none;
    color: #fff;
}
.facilities{
  padding: 120px 0;
}
 .facWidth-container{
    background-image: url(Images/facilities.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
    margin-top: 50px;
 }
.fac-width {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 50px;
}
.facilities .facility-bg .fac-col {
    position: relative;
}
.fac-col:hover {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fac-col img {
    transition: .3s linear;
}

.fac-width img {
    width: 50px;
}
.hauto {
    height: auto;
}
.fac-col:hover img {
    transform: scale(1.1);
}

.fac-col {
    text-align: center;
    padding: 30px 20px;
    width: 230px;
    margin: auto;
    border-radius: 10px;
    transition: all .3s linear;
    cursor: pointer;
}
.facilities .facility-bg .stretched-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
/* .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    background-color: rgba(0, 0, 0, 0);
} */
.facilitiesHeading-container{
    text-align: center;
}

@media(max-width:1540px){
    .fac-width {
        width: 90%;
    }
}