*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: all 0.2s ease-out;
    
}

.treatmentBanner-container{

    background-image:url('Images/treatment-banner-img.png');

    margin: 90px auto 0px auto;
    position: relative;
    padding-top:90px;
}
.treatmentBanner::before{
    content: ''; /* The ::before element requires a content property */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 300px;
    background: rgba(88, 79, 79, 0.7);          
    z-index: 1;
    margin-top: 90px;
    
   

}
.treatmentBanner{
    width: 100%;   
         
    height: 300px; 
    background-image: url('Images/treatment-banner.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.treatmentBannerContent{
    position: absolute;
    top:199px;
    margin-left:50px;
    z-index: 2;
}
.breadcrumb-items{
    font-family: 'Libre Franklin';
    text-decoration: none;
    color:#fff;
}
.breadcrumb-items.active{
    transition: all 0.2s ease-in-out;
}
.breadcrumb-items.active:hover{
    color: #fff;
text-decoration: underline;
}
.breadcrumb {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px;
    position: relative;
    z-index: 2;
}
.breadcrumb li{
    padding-right: 10px;
    color:#fff;
}
.treatmentsHeading{
    font-family: 'Libre Franklin';
    font-size: 50px;
    margin: 0px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight:500;
}
.treatmentPara{
    margin: 0;
    font-family: 'Libre Franklin';
    font-size:34px;
    margin-top:20px;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.dark-letter{
    font-weight: 700;
}
.treatmentstypes{
    background: #efefef;
}
.treatmentstypes-container{
    width: 80%;
    margin: auto;
    padding-top:60px;
}
.treatmentsServices{
    display: flex;
    border: 1px solid transparent;
    transition:all 0.2s ease-in-out ;
    cursor: pointer;
}
.treatmentServiceImg-container{
    transition: all 0.2s ease-in-out;
    overflow: hidden;   
    display: flex;
}

.treatmentsServices:hover{
 box-shadow: 0px 0px 50px rgba(5, 5, 5, 0.08);
}
.treatmentsServices:hover .treatmentService-img{
    transform: scale(1.05);
}
.subTreatmentsServices{
    padding: 0px;
    width:100%;
    
}

.section-heading.treatment{
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 80px;
    font-family: 'Libre Baskerville';
    color: #fff;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 1;
}
.treatmentsServices-container{
    display: grid;
    grid-template-columns: repeat(3, 32%) ;
    padding-bottom:60px;
    gap: 20px;
}
.treatmentService-items{
    
    display: flex;
    flex-direction: column;
   
}
.treatmentService-img{
    width: 100%;
    height: 308px;
    object-fit: cover;
    transition: all 0.3s ease-out;
}
.treatmentService-content{
    padding: 25px 0px 25px 0px;
    background:#fff;


    
}
.treatmentService-contentHead{
    margin: 0;
    font-size:24px;
    margin-bottom:30px;
    font-family: 'Libre Baskerville';
    color: #1a2751;
    font-weight:500;
    text-align: center;

}
.treatmentService-contentPara{
    margin: 0;
    font-size:16px;
    font-family: 'Libre Franklin';
    color:#6e7691;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: auto;
}
.treatmentService-link{
    text-decoration: none;
    color:#1a2751;
    border-bottom: 2px solid transparent; /* Invisible border initially */
    transition: border-bottom 0.3s ease-in-out; /* Smooth transition on border-bottom */
    transition: all 0.3s ease-in-out;   
}
.treatmentService-link:hover{
    border-bottom: 2px solid #1a2751;
color:#1a2751;
}
.treatmentServiceLink-container{
    
    text-decoration: none;
    font-family: 'Libre Franklin';
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.2s all ease-out;
    color:#6e7691;
    transition: all 0.2s ease-out;
    margin-bottom: 0px;
    margin-top:30px;
    text-align: center;

}
.appaclink{
    text-decoration: underline;
    color:#3d60c0;
}
/*resposiveness Starts */

@media(max-width:908px){
    .treatmentsServices-container {
        display: grid;
        grid-template-columns: repeat(2, 49%);
    }

}
@media(max-width:481px){
    .treatmentsServices-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
       
    }
    .section-heading.treatment {
        text-align: center;
        z-index: 2;
        position: relative;
        margin: 0;
        font-size: 55px;
    }
}
